---
layout: home
---
<section id="s1">
    {% include theme-switcher.html %}
    <a href="#s2" class="goDown"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                                      viewBox="0 0 25 25" xml:space="preserve">
        <g transform="translate(704 384)">
            <path fill="" d="M-691.5-363.125l9.678-6.532h-5.807v-6.968h-7.742v6.968h-5.806L-691.5-363.125z"/>
        </g>
        </svg></a>

    <div class="logo">
        {% include logo.html %}
        <div class="headline">
            <div class="hl1">Helping busy web designers &<br>developers to keep up to date</div>
            <div class="hl2">Too many good feeds to read every day?</div>
            <div class="hl3">we read all, you enjoy quality articles</div>
            <div class="hl4">Rules who pays. We want you to rule<br>and not being influenced by sponsors.</div>
            <div class="hl5">Do you want to be the best<br>informed developer around you?</div>
            <div class="hl6">Do you have no time to read<br>properly all news you are interested in?</div>
        </div>
    </div>

</section>
<section id="s2" class="">

    <article class="">
        <p class="type">What we do?</p>
        <h1>We are your informer for less than 1€/month.</h1>
        <h2>We are your eyes out there. We read thoroughly the top 1000 sources of web design & development <strong>instead of you.</strong></h2>
        <p>We put all our effort to find the very best resources and meaningful news and summary it to you.</p>


    </article>
</section>
<section id="s3" class="">
    <article class="">
        <p class="type">Why we do it?</p>
        <h1>Do you want to be a better professional with less effort?</h1>
        <h2>Be the most informed of all your colleague. Never miss an important topic on internet again.</h2>
        <h1>Stay up to date easily.</h1>
        <h2>Reading one hour a week it's enougth if you know what to read.<br>We exist to liberate you of following thousand of news.</h2>
        <h1>Do you know what infoxication means?</h1>
        <h2>You will have the right data to make better decitions.</h2>        
    </article>
</section>
<section id="s4" class="how-it-works">
    <article class="">
        <p class="type">How it works?</p>
        <ol>
            <li><h1>Get your subscription.</h1></li>
            <li><h1>Once a week you will recive our summary. Enjoy.</h1></li>
            <li><h1>When you miss a link or tool use alexandria library.</h1></li>
        </ol>

    </article>
</section>
<section id="s5" class="">
    <article class="what-valencia-io-is">
        <p class="type">What valencia.io is?</p>
        <h1>Valencia.io is:</h1>
        <ul>
            <li><h2>We are open source lovers. Check <a href="//open.valencia.io">open.valencia.io</a> out!</h2></li>
            <li><h2>An exclusive club for web designers & developers.</h2></li>
            <li><h2>We are the guy who lend you the book underlined the day before the exam</h2></li>
        </ul>
        
        <h1>Valencia.io is not:</h1>
        <ul>
            <li>
                <h3>We are not a simple newsletter.</h3>
            </li>
            <li>
                <h3>We are not a blog.</h3>

            </li>
            <li>
                <h3>We dont sell our tools, we sell out time.</h3>
                <p>Infoxication occurs when the amount of input to a system exceeds its processing capacity. Consequently, when information overload occurs, it is likely that a <strong>reduction in decision quality</strong> will occur.</p>
            </li>
            <li>
                <h3>We are early adopters</h3>
            </li>
        </ul>



    </article>
</section>
<section id="s6" class="" id="pricing">
    <article class="">
        <p class="type">Pricing</p>
        <h2>First month totally free.</h2>
        <h2>One click cancel subscription.</h2>
        <div class="grid-items-lines">
            <a href="javascript:void(0)" class="grid-item">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_1_dark.png" alt="">
                <h3>Free</h3>
                <h1>Grid Item</h1>
                <p>Lorem ipsum dolor sit amet, elit. Rem, illum.</p>
            </a>
            <a href="javascript:void(0)" class="grid-item">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="">
                <h3><span class="price">12€</span> / year</h3>
                <h1>Another Item</h1>
                <p>Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit.</p>
            </a>
            <a href="javascript:void(0)" class="grid-item">
                <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
                <h3><span class="price">24€</span> / year</h3>
                <h1>Another Grid Item</h1>
                <p>Lorem ipsum dolor sit amet, elit. Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit.Lorem ipsum consectetur dolor sit amet, consectetur adipisicing elit. </p>
            </a>
        </div>
    </article>
</section>