---
layout: home
---
<section id="s1">
    {% include theme-switcher.html %}
    <a href="#s2" class="goDown"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 25 25" xml:space="preserve">
        <g transform="translate(704 384)">
            <path fill="" d="M-691.5-363.125l9.678-6.532h-5.807v-6.968h-7.742v6.968h-5.806L-691.5-363.125z"/>
        </g>
        </svg></a>

    <div class="logo">
        {% include logo.html %}
        <div class="headline">
            <div class="hl-0">Where creativity <br>meets code.</div>
            <div class="hl-1">Exclusive discounts</div>
            <div class="hl-2">Digital nomads<br>community</div>
            <div class="hl-3">Work with great people<br></div>
            <div class="hl-4">Join the community to be<br> a better artist</div>
            <div class="hl-5">For marketers, designer<br> & coders</div>
        </div>
    </div>

</section>
<section id="s2" class="">
    <article class="">
        <p class="type">What we do?</p>
        <h1>Developers' community for working in side projects.</h1>
        <h3>Team up with great profesionals.</h3>
        <ul><li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li></ul>
        <h3>Join or publish projects.</h3>
        <ul><li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li></ul>
        <h3>Get hired.</h3>
        <ul><li><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></li></ul>

    </article>
</section>
<section id="s3">
  <article class="">
    <p class="type">Projects</p>
      <div class="grid-items-lines">
        {% for project in site.projects %}
        <a href="{{ project.url }}" class="grid-item {{project.status}}">
          <div class="tech-icon">
            {% assign icon = 'devicons/' | append: project.technology[0] | append: '.svg' %}
            {% include {{icon}} %}
          </div>
          <h1>{{ project.title }}</h1>
          <p>{{project.description}}</p>
          <em class="status {{project.status}}">
            Status: {{project.status}}
          </em>
        </a>
        {% endfor %}
        <div class="right-cover"></div>
        <div class="bottom-cover"></div>
      </div>
  </article>
</section>
<section id="s4" class="how-it-works">
    <article class="">
        <a class="cta" href="https://valencia-io.typeform.com/to/T0TJ3I">JOIN US! It is free</a>
    </article>
</section>
<!--
<section id="s5" class="">
    <article class="what-valencia-io-is">
        <p class="type">What valencia.io is</p>
        <h1>Valencia.io is:</h1>
        <ul>
            <li><h2>An exclusive club for web designers & developers.</h2></li>
            <li><h2>Valencia.io is a service for artists.</h2></li>
            <li><h2>We do content curation.</h2></li>
            <li><h2>We are the guy who lends you the underlined book the day before the exam.</h2></li>
            <li><h2>We are open source lovers. Check out <a href="//open.valencia.io">open.valencia.io</a></h2></li>

        </ul>

        <h1>Valencia.io is not:</h1>
        <ul>
            <li><h2>We are not a blog.</h2></li>
            <li><h2>We are not a newsletter.</h2></li>
            <li><h2>We are not a magazine.</h2></li>

        </ul>



    </article>
</section>
<section id="s6" class="" >
    <article class="" id="pricing">
        <p class="type">Pricing</p>
        <h2>Try one month totally free.</h2>
        <h2>One click instant cancellation.</h2>
        <h2>An individual subscription costs <span class="price">€36 per year</span>.</h2>

        <div class="grid-items-lines">
            <a href="javascript:void(0)" class="grid-item">
                <img src="/img/2x1.png" alt="">
                <h3><span class="price">€36 </span>/ year</h3>
                <h1>Invite and win:  2 x 1</h1>
                <p>Pay for your friend's first year and get your subscription for free.</p>
                <h3>€36 TOTAL</h3>
                <button>Join</button>
            </a>
            <a href="javascript:void(0)" class="grid-item">
                <img src="/img/3x2.png" alt="">
                <h3><span class="price">€33 </span>/ year</h3>
                <h1>Give love: 3 x 2</h1>
                <p>Invite 2 mates and get your subscription for free</p>
                <h3>€66 TOTAL</h3>
                <button>Welcome</button>
            </a>
            <a href="javascript:void(0)" class="grid-item">
                <img src="/img/5x4.png" alt="">
                <h3><span class="price">€30 </span>/ year</h3>
                <h1>Company plan: 5 x 4</h1>
                <p>Be the most well informed team around. Get 5 subscriptions and pay only 4.</p>
                <h3>€120 TOTAL</h3>
                <button>Let's go</button>
            </a>
        </div>
        <p class="single-subscription">Do you want to buy a single subscription? Why? It is the same price than inviting one friend and getting yours for free.</p>
    </article>
</section> -->
