<footer class="footer" role="contentinfo">
    <div class="footer-content">
        <div class="bottom-footer">
            <i class="madeby">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="25px" height="25px" viewBox="0 0 25 25" enable-background="new 0 0 25 25" xml:space="preserve">
              <g transform="translate(64 288)">
                  <path fill="#ED1C24" d="M-45.754-286.708c-2.543,0-4.732,2.07-5.747,4.231c-1.015-2.161-3.204-4.231-5.749-4.231c-3.507,0-6.354,2.847-6.354,6.354c0,7.134,7.197,9.005,12.102,16.06c4.636-7.012,12.104-9.152,12.104-16.06C-39.396-283.862-42.244-286.708-45.754-286.708L-45.754-286.708z"/>
              </g>
        </svg>
      </i>
        </div>
        <div class="somosvalencianos">
            <p>
                Si, somos valencianos. ¿Por qué la página está escrita en inglés?
                <br>
                Por tener una proyección internacional, porque buscamos gente sobradamente preparada, porque nos consideramos ciudadanos del mundo...
                <br>
                Miento, hemos crecido escuchando música en ingles y queda más molón (o no). Supongo que por romper las reglas. :)
            </p>
        </div>
        <div class="footer-links">

            <ul>
                <li>
                    <h3>Content</h3>
                </li>
                <li><a href="javascript:void(0)">About</a></li>
            </ul>
            <ul>
                <li>
                    <h3>Follow Us</h3>
                </li>
                <li><a href="javascript:void(0)">Twitter</a></li>
            </ul>
            <ul>
                <li>
                    <h3>Legal</h3>
                </li>
                <li><a href="javascript:void(0)">Privacy Policy</a></li>
            </ul>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var footerHeight = document.getElementsByTagName('footer')[0].scrollHeight;
    document.getElementsByClassName('wrapper')[0].style.marginBottom = footerHeight + 'px';
</script>
