<input id="theme-1" type="radio" name="theme"/>
<input id="theme-2" type="radio" name="theme"/>
<input id="theme-3" type="radio" name="theme"/>
<input id="theme-4" type="radio" name="theme"/>
<input id="theme-5" type="radio" name="theme"/>
<input id="theme-0" type="radio" name="theme"/>
<label class="theme theme-1 {{include.style}}" for="theme-1"></label>
<label class="theme theme-2 {{include.style}}" for="theme-2"></label>
<label class="theme theme-3 {{include.style}}" for="theme-3"></label>
<label class="theme theme-4 {{include.style}}" for="theme-4"></label>
<label class="theme theme-5 {{include.style}}" for="theme-5"></label>
<label id="background" for="theme-0"></label>
