<input id="theme-1" type="radio" name="theme"/>
<input id="theme-2" type="radio" name="theme"/>
<input id="theme-3" type="radio" name="theme"/>
<input id="theme-4" type="radio" name="theme"/>
<input id="theme-5" type="radio" name="theme"/>
<input id="theme-0" type="radio" name="theme"/>
<label class="theme theme-1" for="theme-1"></label>
<label class="theme theme-2" for="theme-2"></label>
<label class="theme theme-3" for="theme-3"></label>
<label class="theme theme-4" for="theme-4"></label>
<label class="theme theme-5" for="theme-5"></label>
<label id="background" for="theme-0"></label>