<input id="theme-green" type="radio" name="theme"/>
<input id="theme-red-soft" type="radio" name="theme"/>
<input id="theme-pink" type="radio" name="theme"/>
<input id="theme-blue-soft" type="radio" name="theme"/>
<input id="theme-yellow" type="radio" name="theme"/>
<input id="theme-bw" type="radio" name="theme"/>
<label class="theme theme-green" for="theme-green"></label>
<label class="theme theme-red-soft" for="theme-red-soft"></label>
<label class="theme theme-pink" for="theme-pink"></label>
<label class="theme theme-blue-soft" for="theme-blue-soft"></label>
<label class="theme theme-yellow" for="theme-yellow"></label>
<label id="background" for="theme-bw"></label>