

#s1 {
    height:110%;
    height:105vh;
    text-align:center;
    position:relative;

    z-index:0;
    @include linear-gradient(50deg, #ddd 20%, white 100%);
    .logo {
        z-index:1;
        position: relative;
        top: 40%;
        @include transform(translateY(-50%));    
        display: inline-block;
        padding:50px 30px;
    }
}

#s2 {
    background: $dark-gray;
    color: $light-gray;

    z-index:1;
    @include outer-container(100%);


}
#s3 {
    background: $blue;
    color:white;
}

#s4 {
    background: $bg-color;
}

section:not(#s1) {
    $transition-height: 150px;
    $transition-height-2: 15vh;
    transition:all 3s linear;
    /*     min-height:90vh; */
    padding-bottom:$transition-height *1.5;
    padding-bottom:$transition-height-2 *1.5;
    &::before {
        z-index:1;
        content:"";

        /*         width: 100vw; */
        width: 100%;
        height: $transition-height;
        height: $transition-height-2;

        @include transform(translateY(-$transition-height));
        @include transform(translateY(-$transition-height-2/1.01));
        border-radius:0 90% 0 0;
        background: inherit;
        display: block;
    }
    article {
        @include outer-container();
        @include pad(20px);
        margin-top:-7vh;
    }
}

/* 
* Go Down
**/
.goDown {
    border:none;
    color:black;
    height:100px;

    @include animation(appear .1s infinite linear);

    @include keyframes(appear) {
        from {
            opacity:0;
        }
        to {
            opacity:1;            
        }
    }
    @include animation(godown 5s infinite linear);
    @include keyframes(godown) {
        from {
            opacity:1;
            @include transform(translateY(0));

        }
        to {
            opacity:0;
            @include transform(translateY(25vh));
        }


    }
    svg {
        position: absolute;
        bottom: 20vh;
        width: 100px;
        fill: rgba(0, 0, 0,.1);
        right: 20%;
    }
}

/*
*  Made by
**/

.madeby { 
    position:absolute;
    top:1%;
    left:50%;
    transform: translateX(-50%);    
    fill:white;
    opacity:.06;
    display:inline-block;
    color:white;
    font-size:20px;
    font-family: 'BrandonGrotesque-Regular', $helvetica;
    line-height:0.8;
}
.madeby:before { 
    content:"Made with ";
    vertical-align:middle;
    position:relative;
    top:-7px;
}
.madeby:after { 
    content:" in Valencia city";
    vertical-align:middle;
    position:relative;
    top:-7px;

}



