body a:active, body a:focus, body a:hover {
    color: #ddd;
    border-bottom: 3px solid #ddd;
}

#s1 {
    min-height: 600px;
    height:42em;  //everything
    height:105vh;
    text-align:center;
    position:relative;

    z-index:0;
    @include linear-gradient(50deg, #ddd 20%, white 100%);
    .logo {
        z-index:1;
        position: relative;
        top: 40%;
        @include transform(translateY(-50%));    
        display: inline-block;
        padding:50px 30px;
    }
}

#s2 {
    background: $dark-gray;
    color: $light-gray;

    z-index:1;
    @include outer-container(100%);


}
#s3 {
    background:  $blue-gray ;
    color:white;
}

#s4 {
    background: $blue-soft;
    color:white;

}

#s4 {
    ol, ul{
        @include pad(0px);
    }
    li {
        padding-bottom: 0.6em;
        font-size: 0.8em;
        list-style-position: inside;
        border-bottom: solid 3px rgba(255,255,255,0.1);
    } 
}

#s5 {
    background:$blue-turquoise;
    color:white;
}
#s6 {
    background:$turquoise;
    color:white;
}


section:not(#s1) {
    $transition-height: 150px;
    $transition-height-2: 15vh;
    transition:all 3s linear;
    /*     min-height:90vh; */
    padding-bottom:$transition-height *1.5;
    padding-bottom:$transition-height-2 *1.5;
    &::before {
        z-index:1;
        content:"";

        /*         width: 100vw; */
        width: 100%;
        height: $transition-height;
        height: $transition-height-2;

        @include transform(translateY(-$transition-height/1.01));
        @include transform(translateY(-$transition-height-2/1.01));
        border-radius:0 90% 0 0;
        background: inherit;
        display: block;
        box-shadow:0px -20px rgba(251,251,251,0.02);
    }
    article {
        @include outer-container();
        @include pad(20px);
        margin-top:-$transition-height;
        margin-top:-$transition-height-2;
    }
}

/* 
* Go Down
**/
.goDown {
    border:none;
    color:invert($bg-color);
    height:100px;

    @include animation(appear .1s infinite linear);

    @include keyframes(appear) {
        from {
            opacity:0;
        }
        to {
            opacity:1;            
        }
    }
    @include animation(godown 5s infinite linear);
    @include keyframes(godown) {
        from {
            opacity:1;
            @include transform(translateY(0));

        }
        to {
            opacity:0;
            @include transform(translateY(7em));
        }


    }
    svg {
        position: absolute;
        bottom: 20%;
        bottom: 20vh;
        width: 100px;
        fill: rgba(255,255,255,0.7);
        right: 20%;
    }
}

//PRICING

span.price {
    font-size:1.6em;
}
.single-subscription {
    opacity:0.8;
    font-size:0.7em;
    margin-top:1em;
    &::before {
        content: "* ";
    }
}
@mixin grid-item-columns($columns) {
    width: (100% / 12) * $columns;
}

.grid-items-lines {
    ///////////////////////////////////////////////////////////////////////////////////
    $base-background-color: transparent !default;

    $dark-gray: #333 !default;
    $light-gray: #DDD !default;
    $medium-screen: em(640) !default;
    $large-screen: em(860) !default;
    $base-font-color: $dark-gray !default;


    p {
        line-height: 1.5em;
    }

    a {
        text-decoration: none;
    }
    //////////////////////////////////////////////////////////////////////////////////

    $grid-items-background: $base-background-color;
    $grid-item-background: $base-background-color;
    $grid-item-border: 1px solid transparent; 
    $grid-item-columns: 4;
    $grid-item-big-columns: 8;
    $grid-item-color: $base-font-color;
    $grid-item-height: 14em;

    @include clearfix;
    position: relative;

    .grid-item {
        @include transition (all 1s ease-in-out);
        background: transparent;
        border-bottom: $grid-item-border;
        border-right: $grid-item-border;
        cursor: pointer;
        float: left;
        min-height: $grid-item-height;
        overflow: hidden;
        outline: none;
        padding: 1.3em;
        width: 100%;

        @include media($large-screen) {
            @include grid-item-columns($grid-item-columns);
        }

        &:focus,
        &:hover {
            background: transparentize($grid-item-color, 0.85);
            @include transition (all 2.5s ease-in-out);
            color:inherit;
            border-radius: 15px;
        }
    }

    .grid-item img {
        display: block;
        height: 3em;
        margin-bottom: 1.2em;
        opacity: 0.4;
    }

    .grid-item h1 {
        color: inherit;
        font-size: 1.4em;
        margin-bottom: 0.4em;
    }

    .grid-item p {
        color: inherit;
        font-size: 0.75em;
        min-height: 50px;
        @include media($large-screen) {
            min-height: 85px;
        }          
    }

    .grid-item-big {
        @include media($large-screen) {
            @include grid-item-columns($grid-item-big-columns);
        }

    }
    button{
        background-color:darken(white,10%);
        color:$turquoise;
        font-family:$brandonGrotesque;
        letter-spacing:1px;
        font-weight:900;
        &:hover,
        &:focus {
            opacity:0.9;
            background-color:white;
            outline-color: black;;

        }
    }


}




