/**********************
**********************/
/*****************
  Chrome Browser
*****************/
.browser-window {
  text-align: left;
  width: 100%;
  height: auto;
  display: inline-block;
  border-radius: 5px 5px 2px 2px;
  background-color: #fff;
  margin: 20px 0px;
  overflow: hidden; }
  .browser-window .top-bar {
    height: 30px;
    border-radius: 5px 5px 0 0;
    border-top: thin solid #eaeae9;
    border-bottom: thin solid #dfdfde;
    background: linear-gradient(#e7e7e6, #E2E2E1); }

.browser-window .circle {
  height: 10px;
  width: 10px;
  display: inline-block;
  border-radius: 50%;
  background-color: white;
  margin-right: 1px; }

#close-circle {
  background-color: #FF5C5A; }

#minimize-circle {
  background-color: #FFBB50; }

#maximize-circle {
  background-color: #1BC656; }

.browser-window .circles {
  margin: 5px 12px; }

.browser-window .content {
  margin: 0;
  width: 100%;
  display: inline-block;
  border-radius: 0 0 5px 5px;
  background-color: #fafafa; }

.browser-window .row {
  margin: 0; }

.clear {
  clear: both; }

/**********************
**********************/
