footer {
  $footer-background: $footer-bg-color;
  $footer-color: white;
  $footer-link-color: transparentize($footer-color, 0.6);
  $footer-disclaimer-color: transparentize($footer-color, 0.6);
  display: block;
  width: 100%;

  min-height:$footer-height;
  position: fixed;
  bottom: 0;
  background: $footer-bg-color;
  color: $footer-text-color;
  z-index: -1;
  padding: ($base-spacing ) $gutter;
  width: 100%;
  .footer-logo {
    margin-bottom: 2em;
    text-align: center;
    img {
      height: 3em;
    }
  }
  .footer-links {
    @include display(flex);
    @include justify-content(center);
    @include flex-wrap(wrap);
  }
  ul {
    @include flex-basis(13em);
    @include flex-shrink(0);
    padding: 0;
  }
  li {
    line-height: 1.5em;
    list-style: none;
    text-align: center;
  }
  li a {
    color: $footer-link-color;
    text-decoration: none;
    &:focus,
    &:hover {
      color: transparentize($footer-color, 0);
    }
  }
  li h3 {
    color: $footer-color;
    font-size: 1em;
    margin-bottom: 0.4em;
  }
  hr {
    border: 1px solid transparentize($footer-disclaimer-color, 0.3);
    margin: 0 auto $base-spacing;
    width: 12em;
  }
  p {
    color: $footer-disclaimer-color;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: 1.4em auto;
    max-width: 35em;
    text-align: left;
  }

}
.footer-content {
  @include outer-container;
}
.wrapper {
  margin-bottom: $footer-height;
}

/*
*  Made by
**/
.bottom-footer {
    text-align: center;

}
.madeby {
  margin: 0 auto;
  fill: white;
  opacity: 0.9;
  display: inline-block;
  color: white;
  font-size: 20px;
  font-family: $brandonGrotesque;
  line-height: 0.8;
  text-align: center;
}
.madeby:before {
  content: "Made with ";
  vertical-align: middle;
  position: relative;
  top: -7px;
}
.madeby:after {
  content: " in Valencia.";
  vertical-align: middle;
  position: relative;
  top: -7px;
}
