footer {
    display:block;
    width:100%;
    min-height:$footer-height;
    position:fixed;
    bottom:0;
    background:$footer-bg-color;
    color:$footer-text-color;
    z-index:-1;
}
.footer-content{
    @include outer-container;
    

}
.wrapper{
    margin-bottom:$footer-height;

}

/*
*  Made by
**/

.madeby { 
    position:absolute;
    top:1%;
    left:50%;
    @include transform(translateX(-50%));    
    fill:white;
    opacity:.9;
    display:inline-block;
    color:white;
    font-size:20px;
    font-family: $brandonGrotesque;
    line-height:0.8;
}
.madeby:before { 
    content:"Made with ";
    vertical-align:middle;
    position:relative;
    top:-7px;
}
.madeby:after { 
    content:" in Valencia city";
    vertical-align:middle;
    position:relative;
    top:-7px;

}

