/*
*  BACKGROUND
**/

.summary {
    position:relative;
}
#background {
    z-index:-1;
    text-align:center;
    background:inherit;
    height:100%;
    position:absolute; top:0; bottom:0; right:0; left:0;   
    transition: all $transition-out ease-out;
    
}


/*
*  THEME SWITCHER
**/ 

label.theme {
    width:7.5vw;
    height:7.5vw;
    max-width:35px;
    max-height:35px;
    min-width:17px;
    min-height:17px;
    margin:15px 6.25vw;
    
    float:left;
    border-radius:33%;
    z-index:1;
    position:absolute;
    bottom:17vh;
    opacity:.5;
    cursor: help;  //img chula (emoticono boca abierta?)
    
    transition:all 1s linear;
}
label.theme:hover{
    border-radius:100%;  
    
}



.theme:nth-of-type(1) {
    left:0vw;
}
.theme:nth-of-type(2) {
    left:20vw;
}
.theme:nth-of-type(3) {
    left:40vw;
}
.theme:nth-of-type(4) {
    left:60vw;
}
.theme:nth-of-type(5) {
    left:80vw;
}

input[name=theme] {
    /*  opacity:0.2;*/
    display:none;
}

label.theme-3 {
    background: $theme-3-bg;
}
label.theme-1 {
    background: $theme-1-bg;
}
label.theme-2  {
    background: $theme-2-bg;
}
label.theme-4 {
    background: $theme-4-bg;
}
label.theme-5 {
    background: $theme-5-bg;
} 



.logo .hl2, .logo .hl3, .logo .hl4, .logo .hl5, .logo .hl6{
    position:absolute;
    top:0;
    right:0;
    opacity:0;
    transition: all $text-transition ease-in-out;
    @include transform(translateX(-100vw));
} 
.logo .hl1 {
    transition: all $text-transition ease-in-out;
    @include transform(translateX(0vw));
}

/*
*  THEMES
**/

input[name=theme]:checked:not(#theme-0) ~ .logo .headline {
    color:white;
}
input[name=theme]:hover:not(#theme-0) ~ .logo .headline {
    color:white;
}

/* theme3 */
input#theme-3:checked ~  .logo path {
    fill: $theme-3-color;
} 
label.theme-3:hover ~ .logo path {
    fill: $theme-3-color!important;
}
input#theme-3:checked ~ .logo circle {
    stroke: $theme-3-color;
}
label.theme-3:hover ~ .logo circle {
    stroke:$theme-3-color!important;
}
input#theme-3:checked ~ #background {
    background:$theme-3-bg;
} 
label.theme-3:hover ~ #background {
    background:$theme-3-bg!important;
}

input#theme-3:checked ~ .logo .hl1{
    transition: all $text-transition ease-in-out;
    @include transform(translateY(100vh)); opacity:0;

} 

input#theme-3:checked ~ .logo .hl2{
    transition: all $text-transition ease-in-out; opacity:1;
    @include transform(translateX(0vw));

} 




/* theme2 */
input#theme-2:checked ~ .logo path{
    fill:$theme-2-color;
}
label.theme-2:hover ~ .logo path {
    fill:$theme-2-color!important;
}
input#theme-2:checked ~ .logo circle {
    stroke:$theme-2-color;
} 
label.theme-2:hover ~ .logo circle {
    stroke:$theme-2-color!important;
}
input#theme-2:checked ~ #background {
    background:$theme-2-bg;
}
label.theme-2:hover ~ #background {
    background:$theme-2-bg!important;
}

input#theme-2:checked ~ .logo .hl1{
    transition: all $text-transition ease-in-out;
    @include transform(translateY(100vh)); opacity:0;

} 

input#theme-2:checked ~ .logo .hl3{
    transition: all $text-transition ease-in-out; opacity:1;
    @include transform(translateX(0vw));

} 

/* theme1 */
input#theme-1:checked ~ .logo path{
    fill:$theme-1-color;
}
label.theme-1:hover ~ .logo path {
    fill:$theme-1-color!important;
}
input#theme-1:checked ~ .logo  circle{
    stroke:$theme-1-color;
}
label.theme-1:hover ~ .logo  circle {
    stroke:$theme-1-color!important;
}
input#theme-1:checked ~ #background {
    background:$theme-1-bg;
}
label.theme-1:hover ~ #background {
    background:$theme-1-bg!important;
}

input#theme-1:checked ~ .logo .hl1{
    transition: all $text-transition ease-in-out;
    @include transform(translateY(100vh)); opacity:0;

} 

input#theme-1:checked ~ .logo .hl4{
    transition: all $text-transition ease-in-out; opacity:1;
    @include transform(translateX(0vw));

}

/* theme4*/
input#theme-4:checked ~ .logo path {
    fill:$theme-4-color;
} 
label.theme-4:hover ~ .logo path {
    fill:$theme-4-color!important;
}
input#theme-4:checked ~ .logo  circle{
    stroke:$theme-4-color;
}
label.theme-4:hover ~ .logo  circle {
    stroke:$theme-4-color!important;
}
input#theme-4:checked ~ #background {
    background:$theme-4-bg;
}
label.theme-4:hover ~ #background {
    background:$theme-4-bg!important;
}


input#theme-4:checked ~ .logo .hl1{
    transition: all $text-transition ease-in-out;
    @include transform(translateY(100vh)); opacity:0;

} 

input#theme-4:checked ~ .logo .hl5{
    transition: all $text-transition ease-in-out; opacity:1;
    @include transform(translateX(0vw));

}


/* $theme-5 */
input#theme-5:checked ~ .logo path{
    fill:$theme-5-color;
}
label.theme-5:hover ~ .logo path {
    fill:$theme-5-color!important;
}
input#theme-5:checked ~ .logo  circle{
    stroke:$theme-5-color;
}
label.theme-5:hover ~ .logo  circle {
    stroke:$theme-5-color!important;
}
input#theme-5:checked ~ #background {
    background:$theme-5-bg;
}
label.theme-5:hover ~ #background {
    background:$theme-5-bg!important;
}

input#theme-5:checked ~ .logo .hl1{
    transition: all $text-transition ease-in-out;
    @include transform(translateY(100vh)); opacity:0; 

} 

input#theme-5:checked ~ .logo .hl6{
    transition: all $text-transition ease-in-out; opacity:1;
    @include transform(translateX(0vw));
}