---
layout: default
---
{% if page.layout == 'default'%}
  {% assign css = 'blankpage' %}
{% else %}
  {% assign css = page.layout %}
{% endif %}
{% include head.html pagecss=css %}

<body>
    {% include browser-outdated.html %}

    <div class="blankpage wrapper">

        {% include theme-switcher.html style="rainbow" %}


        {% include header.html %}
        <div class="content">
            <div class="letter-efect"></div>
            {{ content }}
        </div>


    </div>
    {% include footer.html %}
</body>
{% include scripts.html %}
