---
layout: blankpage
---
<div class="project-page">
  <div class="project-header">
    <h1>{{page.name}}</h1>
    <h2>{{page.title}}</h2>
    
    <!-- {% assign member = site.data.members[page.leader] %}
    <p>By: <a rel="member" href="{{ member.twitter }}">
        {{ member.name }}
    </a></p> -->

  </div>
  <div class="project-body">
    <h3>Description</h3>
    <p>
      {{page.description}}
    </p>
    <h3>Goals</h3>
    <ul>
      {% for goal in page.goals%}
      <li>{{goal}}</li>
      {% endfor%}
    </ul>
    <h3>Technology</h3>
    <ul>
      {% for tech in page.technology%}
      <li>{{tech}}</li>
      {% endfor%}
    </ul>
  </div>
  {{ content }}
  <hr>
  <div class="more-projects">
    <h3>More projects</h3>
    <ul>
      {% for project in site.projects %}
      <li>
        <a href="{{ project.url }}">{{ project.name }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

</div>
