---
layout: blankpage
---
<div class="project-page">
  <div class="project-header">
    <h1>{{page.title}}</h1>

    {% assign member = site.data.members[page.leader] %}
    <p>By: <a rel="member" href="{{ member.twitter }}" title="{{ member.name }}">
        {{ member.name }}
    </a></p>

  </div>
  <div class="project-body">
    <h3>Description</h3>
    <p>
      {{page.description}}
    </p>
  </div>
  <div class="more-projects">
    <h3>More projects</h3>
    <ul>
      {% for project in site.projects %}
      <li>
        <a href="{{ project.url }}">{{ project.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {{ content }}
</div>
