@import "main";
@import "components/logo";
@import "components/themes";
@import "components/footer";
body a:active,
body a:focus,
body a:hover {
  color: #ddd;
  border-bottom: 3px solid #ddd;
}
#s1 {
  min-height: 600px;
  height: 32em; //everything
  height: 105vh;
  text-align: center;
  position: relative;
  @include linear-gradient(50deg, #ddd 20%, white 100%);
  .logo {
    z-index: 1;
    position: relative;
    top: 40%;
    display: inline-block;
    padding: 50px 30px;
    max-width: 80%;
    @include transform(translateY(-50%));
  }
}
#s2 {
  background: $dark-gray;
  color: $light-gray;
  z-index: 1;
  @include outer-container(100%);
}
$s3-bg: $blue-soft;
#s3 {
  background: $s3-bg;
  color: white;
}
#s4 {
  background: $yellow-darken;
  color: white;
  article {
    text-align: center;
  }
}
#s5 {
  background: $blue-turquoise;
  color: white;
}
#s6 {
  background: $turquoise;
  color: white;
}
section:not(#s1) {
  $transition-height: 150px;
  $transition-height-2: 16vw;
  transition: all 3s linear;
  padding-bottom: $transition-height *1.5;
  padding-bottom: $transition-height-2 *1.5;
  &::before {
    z-index: 1;
    position: relative;
    content: "";

    /*         width: 100vw; */
    width: 100%;
    height: $transition-height;
    height: $transition-height-2;
    @include transform(translateY(-$transition-height/1.01));
    @include transform(translateY(-$transition-height-2/1.01));
    border-radius: 0 90% 0 0;
    background: inherit;
    display: block;
    box-shadow: 0 -20px rgba(251,251,251,0.02);
  }
  article {
    @include outer-container();
    @include pad(20px);
    margin-top: -$transition-height;
    margin-top: -$transition-height-2;
  }
}

/*
* Go Down
**/
.goDown {
  border: none;
  color: invert($bg-color);
  height: 100px;
  @include animation(appear .1s infinite linear);
  @include keyframes(appear) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @include animation(godown 5s infinite linear);
  @include keyframes(godown) {
    from {
      opacity: 1;
      @include transform(translateY(0));
    }
    to {
      opacity: 0;
      @include transform(translateY(7em));
    }
  }
  svg {
    position: absolute;
    bottom: 20%;
    bottom: 20vh;
    width: 100px;
    fill: rgba(255,255,255,0.7);
    right: 20%;
  }
}

@mixin grid-item-columns($columns) {
  width: (100% / 12) * $columns;
}
.grid-items-lines {

  ///////////////////////////////////////////////////////////////////////////////////
  $grid-items-base-background-color: $s3-bg;
  $grid-items-base-font-color: white;
  p {
    line-height: 1.5em;
  }
  a {
    text-decoration: none;
  }

  //////////////////////////////////////////////////////////////////////////////////
  $grid-items-background: $grid-items-base-background-color;
  $grid-item-background: $grid-items-base-background-color;
  $grid-item-border: 1px solid transparentize($grid-items-base-font-color, 0.6);
  $grid-item-columns: 4;
  $grid-item-big-columns: 8;
  $grid-item-color: $grid-items-base-font-color;
  $grid-item-height: 14em;
  @include clearfix;
  position: relative;
  .grid-item {
    @include transition (all 1s ease-in-out);
    background: transparentize(white,0.95);
    border-bottom: $grid-item-border;
    border-right: $grid-item-border;
    cursor: pointer;
    float: left;
    min-height: $grid-item-height;
    overflow: hidden;
    outline: none;
    padding: 1.3em;
    width: 100%;
    max-height: 337px;
    overflow: visible;

    @include media($large-screen) {
      @include grid-item-columns($grid-item-columns);
    }
    &:focus,
    &:hover {
      background: transparentize($grid-item-color, 0.9);
      @include transition (all .5s ease-in-out);
      color: inherit;
    }
    &.open:focus,
    &.open:hover {
      background: transparentize(lime, 0.85);
    }
    &.closed:focus,
    &.closed:hover {
      background: transparentize(tomato, 0.6);
    }

    .tech-icon {
      display: block;
      margin-bottom: 1.2em;
      opacity: 0.9;
      text-align: center;
      svg {
        height: 4em;
        width:50%;
        margin: auto;
        * {
          fill: $grid-items-base-font-color;
        }
      }
    }

    h1 {
      color: inherit;
      font-size: 1.4em;
      margin-bottom: 0.4em;
      height: 2.4em;
    }
    p {
      color: inherit;
      font-size: 0.9em;
      min-height: 50px;
      @include media($large-screen) {
        min-height: 85px;
      }
    }
  }
  .grid-item-big {
    @include media($large-screen) {
      @include grid-item-columns($grid-item-big-columns);
    }
  }
  .bottom-cover {
    background: $grid-items-background;
    bottom: 0px;
    height: 3px;
    position: absolute;
    width: 100%;
  }

  .right-cover {
    background: $grid-items-background;
    height: 100%;
    position: absolute;
    right: 0px;
    width: 4px;
  }

  button {
    background-color: darken(white,10%);
    color: $turquoise;
    font-family: $brandonGrotesque;
    letter-spacing: 1px;
    font-weight: 900;
    &:hover,
    &:focus {
      opacity: 0.9;
      background-color: white;
      outline-color: black;
    }
  }
}
