#{$all-button-inputs},
a.cta,
button {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;
  border-bottom: 0 !important;
  &:hover,
  &:focus {
    background-color: lighten($action-color, 5%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
  &.cta {
    font-size: $base-font-size * 1.4;
    letter-spacing: 0.05em;
    text-transform:uppercase;
  }
}
