$brandonGrotesque:'BrandonGrotesque-Regular', 'Montserrat', $helvetica;
// Typography
$base-font-family: 'Libre Baskerville' , $georgia;
$heading-font-family: $brandonGrotesque;

// Font Sizes
$base-font-size: 20px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Palete

$dark-gray: #333;
$medium-gray: #999;
$light-gray: #f1f1f1;

$pink:#ec008c;

$green:#00F3A5;
$green-dark:#1693A5 ;

$turquoise:#1E8C93;

$red:#E8373E ;
$red-soft :#FF6347;

$blue-soft:#5592CE;
$blue: #477dca;
$blue-deep:#440394;
$gray-semidark:#333340;

$yellow:#FFD810;
$yellow-darken:#ffc000;

$gray-brown:#413123;
$paper:#f1f4f1;

//themes
$theme-1-primary:$green;
$theme-1-bg: $green-dark;
$theme-1-color: $green;

$theme-2-primary:$red;
$theme-2-bg: $red;
$theme-2-color: #333;

$theme-3-primary:$pink;
$theme-3-bg: $blue-deep;
$theme-3-color: $pink;

$theme-4-primary:$yellow-darken;
$theme-4-bg: $yellow-darken;
$theme-4-color: white;

$theme-5-primary: $blue;
$theme-5-bg: $gray-semidark;
$theme-5-color: $yellow;



//bg colors
$body-bg-color: $paper ;
$bg-color: $body-bg-color;

$summary-bg-color: $blue;
$sumary-content-bg-color:$paper;

$footer-bg-color: $dark-gray;
$footer-text-color: white;

$logo-color: white;
/*$bg-color: invert( $logo-color);*/

/*$logo-headline-color: invert( darken($bg-color,20%)) ;*/
/*$logo-headline-color: invert( lighten($bg-color,20%)) ;*/
$logo-headline-color: #444 ;
$logo-hover-color:invert($logo-color);


// Font Colors
$base-background-color: #fff;
$base-font-color: $dark-gray;
$action-color: $blue;
$link-visited: rgba(117, 3, 173, 0.4);

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);


//animations transitions
$transition-out:2s;
$transition-in:.15s;

$text-transition: 1.2s;


//footer measures
$footer-height: 200px;